.modalContainer {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  margin: 0.5rem;
  width: 90vw;
  max-width: 600px;
  padding: 1rem;
  background: var(--accent-red);
  color: white;
  z-index: 100;
}
.closebtn {
  color: black;
  cursor: pointer;
}
h3 {
  text-align: center;
  font-size: 1.5rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0rem;
}
form input {
  box-shadow: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--x-light-secondary-color);
  height: 2rem;
  width: 100%;
  outline: none;
  font-family: inherit;
  margin: 0.25rem 0rem;
  color: var(--primary-text);
  background-color: white;
  padding: 0rem 0.5rem;
}

.submitBtn {
  color: white;
  border: 1px solid white;
  margin-top: 1rem;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: var(--accent-green);
}
